.td1 {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 12px; color: #000000; text-decoration: none}



a:link {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; color: #000000 ; text-decoration: none }
a:visited { font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; color: #000000 ; text-decoration: none }
a:active { font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; color: #FF7800 ;  text-decoration: underline }
a:hover { font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; color:#FF7800; text-decoration: underline }

BODY {scrollbar-face-color: #ffffff; 
    scrollbar-shadow-color: #2196e7; 
    scrollbar-highlight-color: #2196e7; 
    scrollbar-3dlight-color: #ffffff; 
    scrollbar-darkshadow-color: #ffffff; 
    scrollbar-track-color: #ffffff; 
    scrollbar-arrow-color: #2196e7}
