body{ font-family: "µ¸À½", "±¼¸²", "Arial", "Helvetica", "sans-serif"; font-size: 12px; color: #666666; text-decoration: none; line-height: 150%}
    a:link    { font-family: "±¼¸²", "Arial", "Helvetica", "sans-serif"; font-size: 12px; color: #666666; text-decoration: none}
	a:active  { font-family: "±¼¸²", "Arial", "Helvetica", "sans-serif"; font-size: 12px; color: #999999; text-decoration: none}
	a:visited { font-family: "±¼¸²", "Arial", "Helvetica", "sans-serif"; font-size: 12px; color: #666666; text-decoration: none}
	a:hover   { font-family: "±¼¸²", "Arial", "Helvetica", "sans-serif"; font-size: 12px; color: #666666; text-decoration: underline}
    img      {border:0}



.form {  font-family: "±¼¸²", "Arial", "Helvetica", "sans-serif"; font-size: 12px; bgcolor:ebebeb; color: #4F4F4F; background: #FAFAFA}

.leftmargin5 { FONT-FAMILY: "±¼¸²"; FONT-SIZE: 9pt; TEXT-ALIGN: left; PADDING-LEFT: 5px; }


.formline{
	BACKGROUND-COLOR: #ffffff;
	font-family: "±¼¸²", "µ¸À½", "Arial", "Helvetica", "sans-serif";
	font-size: 9pt;
	color: #666666;
	border: 1px solid #A7A7A7;
}

.tableline{
	border: 1px solid #B4B4B4;
	font-family: "±¼¸²", "µ¸À½", "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	color: #5E5E5E;
}



.company {  font-family: "µ¸À½", "±¼¸²", "Arial", "Helvetica", "sans-serif"; font-size: 12px; color: #575757; text-decoration: none; line-height: 140%}

.company
a:link    { font-family: "±¼¸²", "Arial", "Helvetica", "sans-serif"; font-size: 12px; color: #666666; text-decoration: nones}
a:active  { font-family: "±¼¸²", "Arial", "Helvetica", "sans-serif"; font-size: 12px; color: #999999; text-decoration: none}
a:visited { font-family: "±¼¸²", "Arial", "Helvetica", "sans-serif"; font-size: 12px; color: #666666; text-decoration: none}
a:hover   { font-family: "±¼¸²", "Arial", "Helvetica", "sans-serif"; font-size: 12px; color: #666666; text-decoration: underline}

.text {  font-family: "µ¸À½", "±¼¸²", "Arial", "Helvetica", "sans-serif"; font-size: 12px; color: #575757; text-decoration: none; line-height: normal}

.company11 {  font-family: "µ¸À½", "Arial", "Helvetica", "sans-serif"; font-size: 11px; color: #575757; text-decoration: none; line-height: normal}

.tdc {  font-family: "±¼¸²", "Arial", "Helvetica", "sans-serif"; background: #F6F6F6; font-size: 12px}
